body, html
{
    margin:0;
    padding:0;
    background-color: #4158D0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Roboto', sans-serif;
}

main
{
    width:70%;
    min-height:80vh;
    background: linear-gradient(
        to right bottom,
        rgb(255 255 255 / 32%),
        rgb(255 255 255 / 17%)
    );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index:999;
}

.planet
{
  position: absolute;
  border-radius: 50%;
}

.ring
{
    position: absolute;
    border-radius: 50%;
    height: 65rem;
    width: 65rem;
    right:-17em;
    bottom:-17em;
    border:10px solid #bd31b3;
}

#planet1
{
    height: 55rem;
    width: 55rem;
    right:-10em;
    bottom:-10em;
    background-color: #4158D0;
    background-image: linear-gradient(116deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    z-index:1;
}

#planet2
{
    height: 20rem;
    width: 20rem;
    right: 35em;
    bottom: -15px;
    filter: blur(10px);
    background-color: #4158D0;
    background-image: linear-gradient(334deg, #4158D0 0%, #C850C0 100%);
}
#planet3
{
    height:50rem;
    width:50rem;
    top:-25rem;
    left:-25rem;
    filter: blur(155px);
    background-color: #fd97fff0;
}

.small-planet
{
    position: absolute;
    border-radius: 50%;
    background-color: #4158D0;
    background-image:linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.side-menu
{
    background-color: rgb(255 255 255 / 42%);
    width: 30%;
    min-height: 80vh;
    max-height: 100%;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.side-menu div
{
    width:100%;
    height:150px;
    border-bottom:1px solid rgba(255, 255, 255, 0.692);
    margin-bottom:25px;
    position:relative;
}

.center
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.center img
{
    border-radius:50%;
    width:80px;
    height:80px;
}
.avatar-name
{
    margin-left:10px;
    font-size:2.5rem;
}

.menu-item
{
    width:100%;
    height:80px;
    text-decoration: none;
    justify-content: flex-start;
    font-size:2.5rem;
    color:#575757;
    box-sizing: border-box;
    padding-left:25px;
    width:100%;
    height:80px;
    transition: all 0.3s;
    border-radius: 15px;
}

.menu-item:hover
{
    transform:scale(1.05);
    background-color:rgba(255, 255, 255, 0.656);
    backdrop-filter:blur(4px);
}

.menu-item p
{
    margin:0 0 0 15px ;
}

footer
{
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
    justify-content: space-evenly !important;
    box-sizing: border-box;
    padding:0 25px;
}
footer a
{
    text-decoration: none;
    color:rgb(92, 92, 92);
    font-size:1.1rem;
    opacity:0.9;
}
footer a:hover
{
    text-decoration: underline;
    opacity:1;
}